*{
    box-sizing: border-box;
}
.body{
    margin: 0px;
    padding: 0px;
}

/* ---------------------------------- HEADER ---------------------------------- */
#background_header{
    background-color: #EAC926;
    padding: 30px 10px 0px 10px;
    max-width: 100vw !important;
    margin:auto;
}

.contenedor1{
    display: flex;
    justify-content: space-between;
}

.logo-mercado-liebre{
    align-self: flex-start;
    max-width: 50em;
}

.buscador{
    display: flex;    
    justify-content: space-between;
    max-width: 50em;
    align-self: center;
    height: 25px;
    background-color: white;    
    border-radius: 4px;
    margin-left: 1%;
}    

.input{
    border: none;
    background-color: white;
}

.lupa{
    align-self: center;
    background-color: white;
    color:black;
    display: block;
    max-width: 30px;
    max-height: 21px;
    padding: 1px 2px;
    margin: 1px;
    font-size: 15px;
    border-left: solid #c4c4c4 0.75px;
}

.compra_cuotas{
    font-size: 16px;
    text-align: center;
    margin: 10px;
    align-self: center;
}

.main_navbar{
    display: none;
    justify-content: space-between;
}

.navbar1{
    justify-content: flex-start;
    width: 50%;
    margin-right: 7vw;
}

.navbar2{
    justify-self: flex-end;
    width: 50%;
    margin-left: 5vw;
}

.main_navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}

.main_navbar li{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
.main_navbar a{
    text-decoration: none;
    color: #222;
    display: block;
}

.boton_hamburguesa{
    background-color: #03264C;
    color:white;
    display: block;
    max-width: 45px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
}

img{
    width: 100%;
}

.home-banner{
    font-size: 0px;
}

/* ---------------------------------- MAIN ---------------------------------- */

.background_main{
    margin-top: 0px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulos{
    margin: 5%;
    padding: 15px 0px 15px 0px;
    max-width: 90%;
    background-color: white;
    height: fit-content;
    transition: all 350ms;
}
.articulos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.imagenes_producto{
    max-width:90%;
    margin: 0% 5%;
}

.info_producto{
    border-top: 1px solid #ebebeb;
    padding: 0.5em 1em;
    margin: 0px;
    position: relative;
}


.titulares{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#666;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    align-self: flex-start;
    margin: 1% 5%;
}

.camioncito{
    display: block;
    font-size: 21px ;
    padding: 8px 0px 0px 6px; ;
    width: 40px ;
    height: 40px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right: 10% ;
    top: -25% ;
    color: #39b54a;
    transition: all 450ms;
}

.articulos:hover .camioncito{
    transform: rotate(360deg);
}

.precio_final{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}

.precios{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-right: 15px;
    justify-content: flex-start;
}

.descuentos{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #39b54a;
}

.descripciones{
    display: none;  
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666;
}



/* ---------------------------------- FOOTER ---------------------------------- */

.back_footer{
    text-align: center;
}

.iconos_footer{
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 10px;
    color:#03264C;
    text-align: center;
}

.titulos_footer{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #666;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.textos_footer{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.derechos{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666;
    margin-top: 50px;
}


/* ---------------------------------- FORMULARIOS ---------------------------------- */

.background_formulario{
    margin-top: 0px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#666;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    align-self: flex-start;
    margin: 1% 6%;
    width: 80vw;
}

.formulario{
    display: flex;
    flex-direction:column;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    width: 80vw;
}

.estilo_formulario{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

.subs_form{
    font-weight: bold;
    margin-top: 25px;
    display: block;
    height: 30px;
}

.input_formularios{
    width:97%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.check{
    margin: 5%;
}

.caja_boton_enviar{
    display: block;
    display: flex;
    justify-content: space-around;
    width: 97%;
    padding: 3%;
}

.boton_enviar{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #1259c3;
    color: white;
    height: 40px;
    border-radius: 5px;
    border: none;
    min-width: 35%;
}

.caja_boton_login{
    display: block;
    display: flex;
    justify-content: space-around;
    width: 97%;
}
.boton_login{
    width: 100%;
    background-color: #1259c3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    border:none;
    transition: all 150ms;
}
.enviar_login{
    all: unset;
    color: white;
}
 
.boton_enviar:hover,
.boton_login:hover{
    background-color: #0022AA;
    font-weight: bold;
}

.acepto{
    font-size: 12px;
}


/* ---------------------------------- MEDIAS ---------------------------------- */


@media (min-width: 479px) {
/* ------- Tablets +479px ------- */
/* --- Main Media +479px --- */
    .titulares{
        margin: 1% 9%;
    }
    
    .master_articulos{
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: center;
    }

    .articulos{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        margin: 10px;
        max-width: 40%;
    }
    
    .imagenes_producto{
        max-width:90%;
        margin: 0% 5% 5% 5%;
    }    
    
    .articulos:hover{
        box-shadow: 10px 10px 10px rgb(100,100,100);
    }
    
    .articulos:hover .descripciones{
        display: initial;
    }
    
    .info_producto:hover .camioncito{
        right: 10% ;
        top: -20% ;
    }

    .precio_final{
        margin-left: 0%;
    }

    .precio{
        margin: 0%;
    }
}


@media (min-width: 769px) {  
/* ------- Tablets y Desktop +769px ------- */
/* --- Header Media +769px --- */
    .main_navbar{
        display: flex;
        max-width: 100%;
    }
    .boton_hamburguesa{
        display: none;
    }

    .home-banner{
        font-size: 0px;
    }

    .contenedor1_para_tablet{
        display: flex;
        justify-content: space-between;
    }

    .contenedor1{
        width: 67%;
    }

    .compra_cuotas{
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }

/* --- Main Media +769px --- */
    .titulares{
        margin: 1% 6%;
    }
    .master_articulos{
    display: flex;
    flex-wrap: nowwrap;
    }

    .articulos{
        margin: 2% 2%;
        max-width: 21%;
        justify-content: center;
    }

    .imagenes_producto{
        max-width:90%;
        margin: 0% 5% 6% 5%;
    }    

   
/* --- FOOTER Media +769px --- */
    
    .footer_gral{
        display:flex;
        justify-content: space-around;
        width: 100vw;
    }
    .subgrupo_footer{
        width: 29vw;
    }

/* --- Formularios Media +769px --- */
    .check{
        margin: 2% 5% 2% 5%;
    }

}

